<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dashboard</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
	<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href=""><span></span><i class="fa fa-home ml-sm-2" aria-hidden="true"></i></a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item timeText">
					<a href="//24timezones.com/es_reloj/spain_almeria_hora.php" class="timeText clock24" id="tz24-1605116942-c215336-eyJob3VydHlwZSI6MTIsInNob3dkYXRlIjoiMSIsInNob3dzZWNvbmRzIjoiMSIsInNob3d0aW1lem9uZSI6IjAiLCJ0eXBlIjoiZCIsImxhbmciOiJlcyJ9" title="Almería husos horarios" target="_blank" rel="nofollow">Almería</a>
				</li>
				<li class="nav-item timeNotText">
					<div class="timeText cleanslate w24tz-current-time w24tz-middle"><p><a href="//24timezones.com/es_reloj/spain_almeria_hora.php" style="text-decoration: none" class="clock24" id="tz24-1605348869-c215336-eyJob3VydHlwZSI6MTIsInNob3dkYXRlIjoiMCIsInNob3dzZWNvbmRzIjoiMCIsImNvbnRhaW5lcl9pZCI6ImNsb2NrX2Jsb2NrX2NiNWZhZmFlMDVkZjM0MCIsInR5cGUiOiJkYiIsImxhbmciOiJlcyJ9" title="hora local Almería" target="_blank" rel="nofollow"></a></p><div id="clock_block_cb5fafae05df340"></div></div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/">
						<i class="fa fa-power-off ml-sm-2" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	
	<div class="container-fluid">
		<div class="row">
			<div class="column-card">
				<div class="card insertMultiplecard">
					<div class="card-body">
					<h5 class="card-title">Inserción</h5>
					<p class="card-text">
							Inserción de 1.000 nuevos registros en la tabla residual.
							Encadenar varias llamadas seguidas podria dañar el rendimiento de la aplicación.
					</p>
					</div>
					<div class="card-footer">
					<!-- <form method="POST" action="/dashboard/addmasive/"> -->
					<!-- <form> -->
						<button id="addMultiple" class="btn btn-primary btn-block">Ejecutar</button>
					<!-- </form> -->
					</div>
				</div>
			</div>
			<div class="column-card">
				<div class="card deleteCard">
					<div class="card-body">
					  <h5 class="card-title">Borrado</h5>
					  <p class="card-text">Elimina todos los registros de la tabla residual, de forma eficiente e ineficiente.
						  Asegurese de que la base tiene registros.
					  </p>
					</div>
					<div class="card-footer">
					 	<form method="GET" action="/dashboard/efidelete/">
							<button class="btn btn-primary btn-success">Eficiente</button>
						</form>
					  	<form method="GET" action="/dashboard/inedelete/">
						  <button class="btn btn-primary btn-warning">Ineficiente</button>
					  	</form>
					</div>
				  </div>
			</div>
			<div class="column-card">
				<div class="card">
					<div class="card-body">
							<h5 class="card-title">Ciclo temporal</h5>	
							<p class="card-text">Lanza peticiones embebidas en un ciclo temporal en el tiempo indicado en milisegundos. Un tiempo demasido bajo podria dañar el rendimiento de la aplicación.</p>
					</div>
					<div class="card-footer">
						<form class="form-inline cicleTime">
							<label class="sr-only" for="cliclotemporal">Milisegundos</label>
							<input type="text" class="form-control" id="cliclotemporal" placeholder="Milisegundos">
							<button type="button" class="btn btn-primary" onclick="clicleTemporal()">Ejecutar</button>
						</form>
					</div>
				</div>
			</div>
			<div class="column-card">
				<div class="card errorCard">
					<div class="card-body">
					  <h5 class="card-title">Errores</h5>
					  <p class="card-text">Ejecuta peticiones erroneas sobre la base datos de forma única o cíclica cada segundo.</p>
					</div>
					<div class="card-footer">
						<form method="GET" action="/dashboard/cicleerror/">
							<button class="btn btn-primary btn-danger">Cíclico</button>
						</form>
						<form method="GET" action="/dashboard/unicerror/">
							<button class="btn btn-primary btn-danger">Única</button>
						</form>
					</div>
				</div>
			</div>
			<div class="column-card">
				<div class="card mjCard">
					<div class="card-body">
					  <h5 class="card-title">Java micro serivicios</h5>
					  <p class="card-text">Realiza peticiones a microservicios JAVA. Para obtener un registro, insertar un nuevo registros o eliminar un registro de forma automática.
					  </p>
					</div>
					<div class="card-footer">
					  <button id="add" class="btn btn-primary btn-primary">ADD</button>  
					  <button id="count" class="btn btn-primary btn-primary">COUNT</button>
					  <button id="getAll" class="btn btn-primary btn-primary">GET ALL</button>
					</div>
				  </div>
			  </div>
			</div>
		<div class="row">
			<div class="column-table" style="min-width: 0;">
				<table class="table table-striped table-hover shadow-lg mt-sm-4">
					<caption>
						<div class="captioncontainer">
							<a href="/dashboard/deleteuser/" class="btn btn-danger">Eliminar todos</a>
							<form method="POST" action="/dashboard/deleteuser/">
								<input type="text" class="form-control" placeholder="ID de usuario a eliminar" name="iduser">
								<button class="btn btn-danger">Eliminar</button>
							</form>
						</div>
					</caption>
					<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Usuario</th>
						<th scope="col">Correo</th>
						<th scope="col">Nombre Completo</th>
						<th scope="col">Contraseña</th>
					</tr>
					</thead>
					<tbody style="overflow: scroll; ">
						<% if (oParams && oParams.allUsers.length) { %>
							<% oParams.allUsers.forEach(function(user) { %>
							<tr>
								<th scope="row"><%= user.id %></th>
								<td><%= user.username %></td>
								<td><%= user.email %></td>
								<td><%= user.fullname %></td>
								<td><%= user.password %></td>
							</tr>
						<% }); %>
					<% } %>
					</tbody>
				</table>
				
			</div>
			<div class="column-table">
				<div class="panel panel-primary" id="result_panel">
					<div class="panel-heading">
						<span>Registros de tabla "garbage"</span>
						<span>
							<% if (oParams && oParams.allGarbage.length) { %>
								<%= oParams.allGarbage.length %>
							<% } %>	
							<% if (oParams.allGarbage.length <= 0) { %>
								0
							<% } %>
						</span>
					</div>
					<div class="panel-body">
						<ul class="list-group">
							<% if (oParams && oParams.allGarbage.length) { %>
								<% oParams.allGarbage.forEach(function(element) { %>
									<li class="list-group-item"><%= element.description %></li>
								<% }); %>
							<% } %>
							<% if (oParams.allGarbage.length <= 0) { %>
								<li class="list-group-item"><strong>No existen registros</strong></li>
							<% } %>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary text-white">
					<h4 class="modal-title" id="myModalLabel">Número de registros</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body text-center p-3"></div>
			</div>
		</div>
	</div>
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
	<script src="js/utils.js"></script>
	<script src="js/services.js"></script>

	<script type="text/javascript" src="//w.24timezones.com/l.js" async></script>

</body>
</html>