<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login Users</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body style="background-image: url('images/bg-02.jpg');">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<span class="navbar-brand" href="#">
			<!-- <img src="/images/icons/favicon.ico" width="20" height="20" class="d-inline-block align-center" alt=""> -->
			Panel de control
		</span>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav" style="margin-left:auto">
			<li class="nav-item active">
				<a href="#" id="time_is_link" rel="nofollow" style="font-size: 22px;color: whitesmoke;margin-right: 10px;line-height: 43px;">Hora local en Almería:</a><span id="_z718" style="font-size:22px;margin-right: 50px;color:white;font-weight: bold;"></span>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/">Desconectar<i class="fa fa-power-off ml-sm-2" aria-hidden="true"></i></a>
			</li>
			</ul>
		</div>
	</nav>
	
	<div class="limiter">
		<div class="container-table table-responsive">
			<div class="card-group shadow-lg">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Inserción</h5>
					<p class="card-text">
						 Inserción de 1.000 nuevos registros en la tabla residual.
						 Encadenar varias llamadas seguidas podria dañar el rendimiento de la aplicación.
					</p>
				  </div>
				  <div class="card-footer">
					<form method="POST" action="/dashboard/addmasive/">
						<button class="btn btn-primary btn-block">Ejecutar</button>
					</form>
				  </div>
				</div>
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Borrado</h5>
					<p class="card-text">Elimina todos los registros de la tabla residual, de forma eficiente e ineficiente.
						Asegurese de que la base tiene registros.
					</p>
				  </div>
				  <div class="card-footer">
					<form method="GET" action="/dashboard/inedelete/">
						<button class="btn btn-primary btn-warning float-right" style="width: 45%;">Ineficiente</button>
					</form>
					<form method="GET" action="/dashboard/efidelete/">
						<button class="btn btn-primary btn-success" style="width: 45%;">Eficiente</button>
					</form>
				  </div>
				</div>
				<div class="card">
				  <div class="card-body">
						<h5 class="card-title">Ciclo temporal</h5>	
						<p class="card-text">Lanza peticiones embebidas en un ciclo temporal en el tiempo indicado en milisegundos. Un tiempo demasido bajo podria dañar el rendimiento de la aplicación.</p>
				  </div>
				  <div class="card-footer">
					<form class="form-inline">
						<div class="form-group align-items-center">
						  <div class="col-sm-5">
							<label class="sr-only" for="cliclotemporal">Milisegundos</label>
							<input type="text" class="form-control" id="cliclotemporal" placeholder="Milisegundos">
						  </div>
						  <div class="col-auto">
							<button type="button" class="btn btn-primary" onclick="clicleTemporal()">Ejecutar</button>
						  </div>
						</div>
					  </form>
				  </div>
				</div>
				<div class="card">
					<div class="card-body">
					  <h5 class="card-title">Errores</h5>
					  <p class="card-text">Ejecuta peticiones erroneas sobre la base datos de forma única o cíclica cada segundo.</p>
					</div>
					<div class="card-footer">
						<form method="GET" action="/dashboard/cicleerror/">
							<button class="btn btn-primary btn-danger float-right" style="width: 45%;">Cíclico</button>
						</form>
						<form method="GET" action="/dashboard/unicerror/">
							<button class="btn btn-primary btn-danger" style="width: 45%;">Única</button>
						</form>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
					  <h5 class="card-title">Java micro serivicios</h5>
					  <p class="card-text">Realiza peticiones a microservicios JAVA. Para obtener un registro, insertar un nuevo registros o eliminar un registro de forma automática.
					  </p>
					</div>
					<div class="card-footer">
					  <button id="add" class="btn btn-primary btn-primary" style="width: 32%;" onclick="manageJavaMicro(this)">ADD</button>  
					  <button id="get" class="btn btn-primary btn-primary" style="width: 32%;" onclick="manageJavaMicro(this)">GET</button>
					  <button id="delete" class="btn btn-primary btn-primary" style="width: 32%;" onclick="manageJavaMicro(this)">DELETE</button>
					</div>
				  </div>
			  </div>
			<table class="table table-striped table-hover table-bordered shadow-lg mt-sm-4">
				<caption>
					<a href="/dashboard/deleteuser/" style="margin-right: 15px;" class="btn btn-danger">Eliminar todos</a>
					<form method="POST" action="/dashboard/deleteuser/" style="margin-top: -48px;">
						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="Usuario ha eliminar (Indique su ID)" name="iduser">
							<div class="input-group-append">
								<button style="margin-right: 15px;" class="btn btn-danger">Eliminar</button>
							</div>
						</div>
					</form>
				</caption>
				<thead>
				  <tr>
					<th scope="col">ID</th>
					<th scope="col">Usuario</th>
					<th scope="col">Correo</th>
					<th scope="col">Nombre Completo</th>
					<th scope="col">Contraseña</th>
				  </tr>
				</thead>
				<tbody style="overflow: scroll; ">
					<% if (oParams && oParams.allUsers.length) { %>
						<% oParams.allUsers.forEach(function(user) { %>
						<tr>
							<th scope="row"><%= user.id %></th>
							<td><%= user.username %></td>
							<td><%= user.email %></td>
							<td><%= user.fullname %></td>
							<td><%= user.password %></td>
						</tr>
					<% }); %>
				  <% } %>
				</tbody>
			
			  </table>
			  <div class="panel panel-primary" id="result_panel">
				<div class="panel-heading">
					Numero de registros de tabla <strong>"garbage"</strong>: 
					<strong style="float:right;margin-right:10px">
						<% if (oParams && oParams.allGarbage.length) { %>
							<%= oParams.allGarbage.length %>
						<% } %>	
						<% if (oParams.allGarbage.length <= 0) { %>
							0
						<% } %>
					</strong>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<% if (oParams && oParams.allGarbage.length) { %>
							<% oParams.allGarbage.forEach(function(element) { %>
								<li class="list-group-item"><%= element.description %></li>
							<% }); %>
						<% } %>
						<% if (oParams.allGarbage.length <= 0) { %>
							<li class="list-group-item"><strong>No existen registros</strong></li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script src="//widget.time.is/t.js"></script>
	<script>time_is_widget.init({_z718:{id:"Almería_z718"}});</script>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>